


 html, body , * {
  font-family: "__IranSansX_4cf108", "__IranSansX_Fallback_4cf108";
  direction : "rtl";
  text-align : right;
}

a {
  text-decoration: none;
  
  &:-webkit-any-link {
    color: inherit;
  }
  
  &:link {
    color: inherit;
  }
}